<div class="lite-shade" style="text-align:center;">
  <br />
  <h1>Some of my original UI-UX solutions</h1>
  <br />
</div>

<!-- IMPORTANT: <ng-template matTabContent> makes loading lazy: restarts GIF video every tab !!! -->
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">money</mat-icon>
      RESP Calc
    </ng-template>
    <ng-template matTabContent><app-my-design-resp></app-my-design-resp></ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">watch</mat-icon>
      Fisher Price Time Tracker
    </ng-template>
    <ng-template matTabContent><app-my-design-fptt></app-my-design-fptt></ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      To Run Or...
    </ng-template>
    <ng-template matTabContent><app-my-design-tror></app-my-design-tror></ng-template>
  </mat-tab>
  <mat-tab label="Typing Tutor">
    <ng-template matTabContent><app-my-design-tytu></app-my-design-tytu></ng-template>
  </mat-tab>
  <mat-tab label="Story Test Runner">
    <ng-template matTabContent><app-my-design-str2></app-my-design-str2></ng-template>
  </mat-tab>
</mat-tab-group>
<!-- 
<div class="dark-shade">
  <br />
  <app-my-design-resp></app-my-design-resp>
  <br />
</div>
<div class="lite-shade">
  <br />
  <app-my-design-fptt></app-my-design-fptt>
  <br />
</div>
<div class="gray-shade">
  <br />
  <app-my-design-tror></app-my-design-tror>
  <br />
</div>
<div class="lite-shade">
  <br />
  <app-my-design-tytu></app-my-design-tytu>
  <br />
</div>
<div class="dark-shade">
  <br />
  <app-my-design-str2></app-my-design-str2>
  <br />
</div> -->
