<div class="flexVertJust">
  <div style="text-align:center; width: 80%;">
    <br />
    <h1>Apps I have placed to Microsoft Store...</h1>
    <h2>... and other places</h2>
  </div>
  <ul>
    <li>
      <a target="_blank" rel="noopener" href="https://www.microsoft.com/en-us/p/buscatch/9nblggh5g5z1">
        <img loading="lazy"  class="img-w70-m3" alt="BusCatch" src="\assets\MyApps\BusCatch.png" />
        <img loading="lazy"  class="img-w20-m3" alt="BusCatch" src="\assets\images\ExternalLink.png" />
      </a>
      <p>
        <b>BusCatch </b>- Friction free visual and audible next bus tracking to the nearest of the pre-set bus stops ...Or a new take on the old puzzle of simultaneous passenger + bus arrival to a stop with the least amount of friction
        possible.
      </p>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://www.microsoft.com/en-us/p/torunor/9nblggh440j9"
        ><img loading="lazy"  class="img-w70-m3" alt="ToRunOr" src="\assets\MyApps\ToRunOr.png"/><img loading="lazy"  class="img-w20-m3" alt="BusCatch" src="\assets\images\ExternalLink.png"
      /></a>
      <p>
        <b>ToRunOr </b>- Take a look at the screen and you'll see the answer in the shape of the key weather measurements conveniently aggregated into an easy to grasp animated description of ambient conditions for the next 24 hours and
        beyond.
      </p>
    </li>
    <li>
      <img loading="lazy"  class="img-w70-m3" alt="Battery History Watch" src="\assets\MyApps\BHW.png" />
      <p><b>BHW </b>- Battery History Watch - a tool to analyze any mobile device battery performance markers to facilitate replacement decision making.</p>
    </li>
    <li>
      <img loading="lazy"  class="img-w70-m3" alt="Worst Media Player" src="\assets\MyApps\WorstMediaPlayer.png" />
      <p><b>WorstMediaPlayer</b> - Automatic and bottomless playlist made from your favourite podcast sources featuring exposure all the most used controls in one compact view.</p>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://cht.z13.web.core.windows.net"
        ><img loading="lazy"  class="img-w70-m3" alt="ChsLogo_Dark.png" src="\assets\images\ChsLogo_Dark.png"/> <img loading="lazy"  class="img-w20-m3" alt="BusCatch" src="\assets\images\ExternalLink.png"
      /></a>
      <p><b>Celebrity Hologram Store</b> - An onboarding assignment/exercise hastily put together to demonstrate the app building skills using Angular/.NET Core/REST Web API technology stack to get the role in RBC.</p>
    </li>
  </ul>
  <div></div>
</div>
