<!-- <mat-toolbar class="footer-footer"> -->
<div class="gray-shade" align="center">
  <div class="flex-row">
    <span style="font-size: .3cm; margin-top: 17px;">·</span>
    <!-- 
    <a mat-button target="_blank" rel="noopener" href="https://www.linkedin.com/in/alexpigida/" matTooltip="My profile on Linked-In">
      <img loading="lazy"  height="42" alt="Alex on LinkedIn" src="\assets\images\AlexTiny_LinkedIn.png" style="margin: 3px" />
    </a>
      <div>
      <span style="font-size:.3cm;"> Latest gigs:</span>
      <a mat-button target="_blank" rel="noopener" href="https://rbc.com/">RBC</a>
      <a mat-button target="_blank" rel="noopener" href="https://nymi.com/">Nymi</a>
      <a mat-button target="_blank" rel="noopener" href="https://sciex.com/">Sciex</a>
      <a mat-button target="_blank" rel="noopener" href="https://www.bmo.com/">BMO</a>
    </div> 
    <div style="margin-top: 6px;">
      <button mat-button routerLink="/about" matTooltip="about">about</button>
      <button mat-button routerLink="/contact" matTooltip="contact">contact</button>
    </div>
  -->
    <span style="font-size: .3cm; margin-top: 17px;"> © Copyright 2019 AAVpro Ltd.</span>
  </div>
</div>
<!-- </mat-toolbar> -->
