<div class="flex-row-even">
  <div><br /><img loading="lazy" height="540" alt="RespCalc-long.gif" src="\assets\designs\ToRunOr-Rain.gif" /></div>

  <div>
    <h2>ToRunOr</h2>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>To Run Or ...</h3>
          </mat-panel-title>
          <mat-panel-description>
            ... maybe not
            <mat-icon>thumb_up</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <br />
        <br />
        <h3>With one quick glance have a decision made on how to spend your weekend in harmony with the elements:</h3>
        <h3>&nbsp; ♦ run when it is cooler</h3>
        <h3>&nbsp; ♦ sail when it is windier</h3>
        <h3>&nbsp; ♦ suntan when it is ...2016</h3>
        <h3>... apparently today appears to be the perfect day for the Suntan (the movie from 2016)</h3>
        <br />
        <br />
        <br />
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Roadmap</h3>
          </mat-panel-title>
          <mat-panel-description>
            &nbsp;
            <mat-icon>map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>History</h3>
          </mat-panel-title>
          <mat-panel-description>
            &nbsp;
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br />
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<br />
