<div style="text-align:center;">
  <p style="text-align:right; color: #808080; margin: 5px 15px;">Build - 2023-11-23</p>
  <h1>Analytics</h1>
  <br />
  <h3>
    {{ error }}
  </h3>
</div>
<div class="flex-row-even">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Links to APIs</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br />
      <b>alex-pi-api: </b>
      <i> Core <b>6.0</b> </i><br /><br />
      <a href="https://alex-pi-api.azurewebsites.net/weatherForecast">~Values</a>++ &nbsp;
      <a href="https://alex-pi-api.azurewebsites.net/api/WebsiteUsers">WebsiteUsers</a>++ &nbsp;
      <a href="https://alex-pi-api.azurewebsites.net/api/WebEventLogs">WebEventLogs</a>++ &nbsp;
      <br />
      <br />
      <br />
      <b>alexpiwebapicore2:  OLD(!)</b>
      <i> Core <b>2.2</b> </i><br /><br />
      <a href="https://alexpiwebapicore2.azurewebsites.net/api/values">Values</a>++ &nbsp;
      <a href="https://alexpiwebapicore2.azurewebsites.net/api/WebsiteUsers">WebsiteUsers</a>-- &nbsp;
      <a href="https://alexpiwebapicore2.azurewebsites.net/api/WebEventLogs">WebEventLogs</a>-- &nbsp;
      <br />
      <br />
      <br />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="getNothing1()" color="accent">get1</button>
      <button mat-raised-button (click)="logEvName0()" color="warn">log0</button>
      <button mat-raised-button (click)="logEvName1()" color="warn">log2</button>
      <button mat-raised-button (click)="logEvName2()" color="warn">log2</button>
      <button mat-raised-button (click)="wav()">wav</button>
      <button mat-raised-button (click)="mp3_5()" color="primary">mp3</button>
    </mat-card-actions>
  </mat-card>

    <mat-card appearance="outlined"><app-vw-user-hops-utc></app-vw-user-hops-utc></mat-card>
    <mat-card appearance="outlined"><app-vw-event-user-utc></app-vw-event-user-utc></mat-card>
    <!-- <mat-card><app-website-user></app-website-user></mat-card>  <mat-card><app-web-event-log-viewer></app-web-event-log-viewer></mat-card> -->
</div>
