<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>        
        <rule name="Angular Routes" stopProcessing="true"> <!-- https://www.codeproject.com/Tips/1279593/Deploy-Angular-App-to-Azure -->
          <match url=".*" /> 
            <conditions logicalGrouping="MatchAll"> 
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /> 
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 
            </conditions> 
          <action type="Rewrite" url="/" /> 
        </rule> 
      </rules>
    </rewrite>
     
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension="otf" mimeType="application/font-sfnt" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" /> <!-- GET https://alex-pi.azurewebsites.net/manifest.json 404 (Not Found) -->
    </staticContent>
    
    <serverRuntime enabled="true"  frequentHitThreshold="1"  frequentHitTimePeriod="00:00:20" />
    
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />

    <httpCompression>
      <staticTypes>
        <add enabled="true" mimeType="application/x-javascript" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="image/jpeg" />
        <add enabled="true" mimeType="image/png" />
      </staticTypes>
    </httpCompression>    
    
    <httpErrors errorMode="Detailed"></httpErrors> <!-- https://stackoverflow.com/questions/48853599/azure-website-message-you-do-not-have-permission-to-view-this-directory-or-page -->

  </system.webServer>
  
  <system.web><customErrors mode="Off" /></system.web>

  <!-- "You do not have permission to view this directory or page."  This message show when you have restrict ip on IIS config. Check your Web.config file and add your ip address in security section like below:
  Remove it if you do not want to restrict any ip address. -->
  <security>
    <ipSecurity allowUnlisted="false">
      <clear />
      <add ipAddress="69.158.122.173" allowed="true" />
    </ipSecurity>
  </security>

</configuration>
