<div class="flexVertJust" class="lite-shade">
  &nbsp;
  <div align="center">
    <h1>My Clients</h1>
  </div>
  <div align="center">
    <h6> (in no particular order) </h6>
  </div>
  <div align="center" style="margin: 0 10%;">
    <p style="background-color: #e1e1e181; border-radius: 20px; margin-bottom: 25px; padding: 1.5em;">
      <!-- <a target="_blank" rel="noopener" href="https://www.rbcroyalbank.com"><img loading="lazy" height="110" alt="RBC        " src="\assets\ClientLogos\logo_ci_is.svg" width="110" /> </a> -->
      <a target="_blank" rel="noopener" href="https://www.iress.com/      "><img loading="lazy" height="110" alt="CI Investments" src="\assets\ClientLogos\CI-Investment_Services-_RGB_E-Square.jpg" /> </a>
      <a target="_blank" rel="noopener" href="https://www.iress.com/      "><img loading="lazy" height="110" alt="BBS Securities Inc." src="\assets\ClientLogos\BBS Securities Inc. - 473x473.png" /> </a>
      <a target="_blank" rel="noopener" href="https://www.iress.com/      "><img loading="lazy" height="110" alt="Iress      " src="\assets\ClientLogos\IressLogo-512x512.png" /> </a>
      <a target="_blank" rel="noopener" href="https://www.rbcroyalbank.com"><img loading="lazy" height="110" alt="RBC        " src="\assets\ClientLogos\RBC.svg" width="110" /> </a>
      <a target="_blank" rel="noopener" href="https://Nymi.com/           "><img loading="lazy" height="110" alt="Nymi       " src="\assets\ClientLogos\Nymi.jpg" /> </a>
      <a target="_blank" rel="noopener" href="https://Sciex.com/          "><img loading="lazy" height="110" alt="Sciex      " src="\assets\ClientLogos\Sciex.png" /> </a>
      <a target="_blank" rel="noopener" href="https://BMO.com/            "><img loading="lazy" height="110" alt="BMO        " src="\assets\ClientLogos\BMO.jpg" /> </a>
      <a target="_blank" rel="noopener" href="https://DirectEnergy.com/   "><img loading="lazy" height="110" alt="DirectEnerg" src="\assets\ClientLogos\DirectEnergy.png" /> </a>
      <a target="_blank" rel="noopener" href="https://Cetaris.com/        "><img loading="lazy" height="110" alt="Cetaris    " src="\assets\ClientLogos\Cetaris.png" /> </a>
      <a target="_blank" rel="noopener" href="https://www.arbormemorial.ca"><img loading="lazy" height="110" alt="Arbor      " src="\assets\ClientLogos\Arbor.png" /> </a>
      <a target="_blank" rel="noopener" href="https://CIBC.com/           "><img loading="lazy" height="110" alt="CIBC       " src="\assets\ClientLogos\CIBC.png" /> </a>
      <a target="_blank" rel="noopener" href="https://CSG.com/            "><img loading="lazy" height="110" alt="CSG        " src="\assets\ClientLogos\CSG.png" /> </a>
      <a target="_blank" rel="noopener" href="https://CWB.com/            "><img loading="lazy" height="110" alt="CWB        " src="\assets\ClientLogos\CWB.png" /> </a>
      <a target="_blank" rel="noopener" href="https://GlobalRESP.com/     "><img loading="lazy" height="110" alt="GlobalRESP " src="\assets\ClientLogos\GlobalRESP.png" /> </a>
      <a target="_blank" rel="noopener" href="https://Citi.com/           "><img loading="lazy" height="110" alt="Citi       " src="\assets\ClientLogos\Citi.png" /> </a>
      <a target="_blank" rel="noopener" href="https://GSC.com/            "><img loading="lazy" height="110" alt="GSC        " src="\assets\ClientLogos\GSC.png" /> </a>
      <a target="_blank" rel="noopener" href="https://Toromont.com/       "><img loading="lazy" height="110" alt="Toromont   " src="\assets\ClientLogos\Toromont.png" /> </a>
      <a target="_blank" rel="noopener" href="https://Livingston.com/     "><img loading="lazy" height="110" alt="Livingston " src="\assets\ClientLogos\Livingston.png" /> </a>
      <a target="_blank" rel="noopener" href="https://Magna.com/          "><img loading="lazy" height="110" alt="Magna      " src="\assets\ClientLogos\Magna.jpg" /> </a>
      <a target="_blank" rel="noopener" href="https://mobileLIVE.com/     "><img loading="lazy" height="110" alt="mobileLIVE " src="\assets\ClientLogos\mobileLIVE.png" /> </a>
      <a target="_blank" rel="noopener" href="https://SystemGroup.com/    "><img loading="lazy" height="110" alt="SystemGroup" src="\assets\ClientLogos\SystemGroup.png" /> </a>
      <a target="_blank" rel="noopener" href="https://Microsoft.com/      "><img loading="lazy" height="110" alt="Microsoft  " src="\assets\ClientLogos\Microsoft.png" /> </a>
      <a target="_blank" rel="noopener" href="https://TroughtCorp.com/    "><img loading="lazy" height="110" alt="TroughtCorp" src="\assets\ClientLogos\TroughtCorp.png" /> </a>
    </p>
  </div>
  &nbsp;
</div>