<div class="flexVertJust" class="lite-shade">
  &nbsp;
  <div align="center">
    <h1>My Clients</h1>
  </div>
  <div align="center">
    <h6> (in no particular order) </h6>
  </div>
  <div align="center" style="margin: 0 5%;">
    <p style="background-color: #55555555; border-radius: 20px; margin-bottom: 25px; padding: 1.1em; display: flex; flex-wrap: wrap; justify-content: center;">

      <a target="_blank" rel="noopener" href="https://www.PwC.com         " style="background-color: #808080;"><img loading="lazy" alt="PwC           " src="\assets\ClientLogos\PwC.jpg" /> </a>
      <a target="_blank" rel="noopener" href="https://www.rbcroyalbank.com" style="background-color: #0050A5;"><img loading="lazy" alt="RBC           " src="\assets\ClientLogos\RbcLogoLioness.jpg" style="width: 100px; height: 100px; margin: 0px;" /> </a>
      <a target="_blank" rel="noopener" href="https://www.ci.com/         " style="background-color: #808080;"><img loading="lazy" alt="CI Investments" src="\assets\ClientLogos\CI-Investment_Services-_RGB_E-Square.jpg" /> </a>
      <a target="_blank" rel="noopener" href="https://www.cifinancial.com/" style="background-color: #808080;"><img loading="lazy" alt="BBS Securities" src="\assets\ClientLogos\BBS Securities Inc. - 473x473.png" /> </a>
      <a target="_blank" rel="noopener" href="https://www.iress.com/      " style="background-color: #3A1C46;"><img loading="lazy" alt="Iress         " src="\assets\ClientLogos\IressLogo-512x512.png" /> </a>
      <a target="_blank" rel="noopener" href="https://movesnap.ca/        " style="background-color: #183650;"><img loading="lazy" alt="RBC           " src="\assets\ClientLogos\MoveSnap.jpg" /> </a>
      <a target="_blank" rel="noopener" href="https://www.rbcroyalbank.com" style="background-color: #0050A5;"><img loading="lazy" alt="RBC           " src="\assets\ClientLogos\RbcLogo-400x400.jpg"    style="width: 100px; height: 100px; margin: 0px;" /> </a>
      <a target="_blank" rel="noopener" href="https://Nymi.com/           " style="background-color: #808080;"><img loading="lazy" alt="Nymi          " src="\assets\ClientLogos\Nymi-1654169105001.jpg" style="width: 100px; height: 100px; margin: 0px;" /> </a>
      <a target="_blank" rel="noopener" href="https://Sciex.com/          " style="background-color: #808080;"><img loading="lazy" alt="Sciex         " src="\assets\ClientLogos\Sciex1659986652714.jpg" style="width: 100px; height: 100px; margin: 0px;" /> </a>
      <a target="_blank" rel="noopener" href="https://BMO.com/            " style="background-color: #0B7ABF;"><img loading="lazy" alt="BMO           " src="\assets\ClientLogos\BMO--1657053814042.jpg" /> </a>
      <a target="_blank" rel="noopener" href="https://DirectEnergy.com/   " style="background-color: #808080;"><img loading="lazy" alt="DirectEnerg   " src="\assets\ClientLogos\DirectEnergy.png" /> </a>
      <a target="_blank" rel="noopener" href="https://Cetaris.com/        " style="background-color: #808080;"><img loading="lazy" alt="Cetaris       " src="\assets\ClientLogos\Cetaris.png" /> </a>
      <a target="_blank" rel="noopener" href="https://www.arbormemorial.ca" style="background-color: #808080;"><img loading="lazy" alt="Arbor         " src="\assets\ClientLogos\Arbor1565629324114.jpg" /> </a>
      <a target="_blank" rel="noopener" href="https://CSG.com/            " style="background-color: #8DC73F;"><img loading="lazy" alt="CSG           " src="\assets\ClientLogos\GSC--1654711099274.jpg" style="width: 100px; height: 100px; margin: 0px;" /> </a>
      <a target="_blank" rel="noopener" href="https://CWB.com/            " style="background-color: #808080;"><img loading="lazy" alt="CWB           " src="\assets\ClientLogos\CWB.png"  style="width: 100px; height: 100px; margin: 0px;" /> </a>
      <a target="_blank" rel="noopener" href="https://GlobalRESP.com/     " style="background-color: #808080;"><img loading="lazy" alt="GlobalRESP    " src="\assets\ClientLogos\GlobalRESP.png" /> </a>
      <a target="_blank" rel="noopener" href="https://Citi.com/           " style="background-color: #808080;"><img loading="lazy" alt="Citi          " src="\assets\ClientLogos\Citi.png" style="width: 100px; height: 100px; margin: 0px;" /> </a>
      <a target="_blank" rel="noopener" href="https://GSC.com/            " style="background-color: #808080;"><img loading="lazy" alt="GSC           " src="\assets\ClientLogos\CSG.png" /> </a>
      <a target="_blank" rel="noopener" href="https://GSC.com/            " style="background-color: #808080;"><img loading="lazy" alt="GSC           " src="\assets\ClientLogos\DavinciTechnologies_200x200.png" /> </a>
      <a target="_blank" rel="noopener" href="https://Toromont.com/       " style="background-color: #808080;"><img loading="lazy" alt="Toromont      " src="\assets\ClientLogos\Trmnt1579640207717.jpg" /> </a>
      <a target="_blank" rel="noopener" href="https://Magna.com/          " style="background-color: #dddddd;"><img loading="lazy" alt="Magna         " src="\assets\ClientLogos\Magna1661865644023.jpg" style="width: 100px; height: 100px; margin: 0px;" /> </a>
      <a target="_blank" rel="noopener" href="https://mobileLIVE.com/     " style="background-color: #808080;"><img loading="lazy" alt="mobileLIVE    " src="\assets\ClientLogos\MoLiv1632506295042.jpg" style="width: 76px; height: 76px; margin: 12px;" /> </a>
      <a target="_blank" rel="noopener" href="https://SystemGroup.com/    " style="background-color: #808080;"><img loading="lazy" alt="SystemGroup   " src="\assets\ClientLogos\SystemGroup.png" /> </a>
      <a target="_blank" rel="noopener" href="https://CIBC.com/           " style="background-color: #CD3333;"><img loading="lazy" alt="CIBC          " src="\assets\ClientLogos\CIBC-1656945055491.jpg" /> </a>
      <a target="_blank" rel="noopener" href="https://Microsoft.com/      " style="background-color: #CD3333;"><img loading="lazy" alt="Microsoft     " src="\assets\ClientLogos\Microsoft.png"   style="width: 76px; height: 76px; margin: 12px;" /> </a>
      <a target="_blank" rel="noopener" href="https://TroughtCorp.com/    " style="background-color: #808080;"><img loading="lazy" alt="TroughtCorp   " src="\assets\ClientLogos\TroughtCorp.png" /> </a>
      <a target="_blank" rel="noopener" href="https://Livingston.com/     " style="background-color: #004D9D;"><img loading="lazy" alt="Livingston    " src="\assets\ClientLogos\Livingston.png" style="width: 100px; height: 100px; margin: 0px;" /> </a>
    </p>
  </div>
  &nbsp;
</div>
