.flexVertJust {
  text-align: center;
  min-height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // border: 1px solid gray;} .flexVertJust div {  background-color: #03030341;
}

img {
  width: 90px;
  height: 90px;
  margin: 5px;
}

a {
  background-color: #fff;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  margin: 15px;
  overflow: hidden;
}
