<div class="gray-shade">
  <div style="text-align:center; ">
    <br />
    <h1>My Résumés</h1>
  </div>
  <!-- <div class="center-wrapper">    <div class="center-inner"> -->
  <div class="flex-row-even">
    <mat-card class="cv-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="cv-header-image"></div> -->
        <mat-card-title>Short</mat-card-title>
        <mat-card-subtitle>Three page summary</mat-card-subtitle>
      </mat-card-header>
      <a mat-button class="a-img" href="\assets\raw-html\Resume - Alex Pigida - short summary - html-Filtered.htm" matTooltip="Click to view">
        <img loading="lazy" height="240" mat-card-image class="img-cv" src="/assets/images/Resume - Alex Pigida - short summary - Thumb.png" alt="Resume - Alex Pigida - short summary" />
      </a>
      <mat-card-actions>
        <!-- <button mat-button width="52">
          <a href="\assets\raw-html\Resume - Alex Pigida - short summary - html-Filtered.htm" matTooltip="Click to view">
            <img loading="lazy" height="36" class="img-dnld" mat-card-image src="/assets/images/view-html.png" alt="Resume - Alex Pigida - short summary - HTML" />
          </a></button> 
        wrapping in button makes horizontal but too wide to fit all 3
        -->
        <button mat-button width="52">
          <a href="\assets\raw-html\Resume - Alex Pigida - short summary.PDF" download matTooltip="Download as PDF ">
            <img loading="lazy" height="36" class="img-dnld" mat-card-image src="/assets/images/download-pdf.png" alt="Resume - Alex Pigida - short summary - PDF" />
          </a></button><button mat-button width="52">
          <a href="\assets\raw-html\Resume - Alex Pigida - short summary.docx" download matTooltip="Download as Word">
            <img loading="lazy" height="36" class="img-dnld" mat-card-image src="/assets/images/download-doc.png" alt="Resume - Alex Pigida - short summary - MS Word" />
          </a></button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="cv-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="cv-header-image"></div> -->
        <mat-card-title>Full</mat-card-title>
        <mat-card-subtitle>Long and detailed version</mat-card-subtitle>
      </mat-card-header>
      <a mat-button class="a-img" href="\assets\raw-html\Resume - Alex Pigida - long detailed version - html-Filtered.htm" matTooltip="Click to view">
        <img loading="lazy" height="240" mat-card-image class="img-cv" src="/assets/images/Resume - Alex Pigida - long detailed version - Thumb.png" alt="Resume - Alex Pigida - long detailed version" />
      </a>
      <mat-card-actions>
        <!-- <button mat-button width="52">
          <a href="\assets\raw-html\Resume - Alex Pigida - long detailed version - html-Filtered.htm" matTooltip="Click to view">
            <img loading="lazy" height="36" class="img-dnld" mat-card-image src="/assets/images/view-html.png" alt="Resume - Alex Pigida - long detailed version - HTML" />
          </a></button>
        -->
        <button mat-button>
          <a href="\assets\raw-html\Resume - Alex Pigida - long detailed version.PDF" download matTooltip="Download as PDF ">
            <img loading="lazy" height="36" class="img-dnld" mat-card-image src="/assets/images/download-pdf.png" alt="Resume - Alex Pigida - long detailed version - PDF" />
          </a></button><button mat-button width="52">
          <a href="\assets\raw-html\Resume - Alex Pigida - long detailed version.docx" download matTooltip="Download as Word">
            <img loading="lazy" height="36" class="img-dnld" mat-card-image src="/assets/images/download-doc.png" alt="Resume - Alex Pigida - long detailed version - MS Word" />
          </a></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <br />
</div>