<app-my-status-open></app-my-status-open>

<!-- (2019-11-24:park  2020-11-10:unpark) 
  <app-my-resumes></app-my-resumes> 
-->
<app-my-resumes></app-my-resumes>

<app-my-clients></app-my-clients>

<app-nav-footer></app-nav-footer>

<!-- events from somewhere
(focus)="myMethod()"
(blur)="myMethod()"
(submit)="myMethod()"
(scroll)="myMethod()"

(cut)="myMethod()"
(copy)="myMethod()"
(paste)="myMethod()"

(keydown)="myMethod()"
(keypress)="myMethod()"
(keyup)="myMethod()"

(mouseenter)="myMethod()"
(mousedown)="myMethod()"
(mouseup)="myMethod()"

(click)="myMethod()"
(dblclick)="myMethod()"

(drag)="myMethod()"
(dragover)="myMethod()"
(drop)="myMethod()" -->
