<mat-toolbar color="primary">
  <div class="flex-row-spbtwn">
    <div>
      <button mat-button routerLink="/" matTooltip="Go to Home page" class="logo">
        <img loading="lazy" height="55" alt="AlexPi Logo" src="{{ AlexPiLogoThemed }}" />
        <!-- <span class="font-effect-3d-float">&nbsp; {{ appTitle }} </span> too ~cheesy? -->
        <span>&nbsp;{{ appTitle }}</span>
      </button>
    </div>

    <!-- <span class="horizontalSpacer"></span> -->
    <div>
      <button mat-icon-button disabled="{{ router.url == '/analtcs' }}" routerLink="/analtcs" matTooltip=""></button>
    </div>
    <!--     
      <button mat-button *ngIf="router.url != '/my-designs'"  routerLink="/my-designs" matTooltip="Some of my original UI/UX solutions">UI · UX</button>
      <button mat-button *ngIf="router.url != '/my-apps'"     routerLink="/my-apps" matTooltip="Apps I have placed to Microsoft Store...and other places">Apps</button>
      <button mat-button *ngIf="router.url != '/about'"       routerLink="/about"   matTooltip="about">About</button>
      <button mat-button *ngIf="router.url != '/contact'"     routerLink="/contact" matTooltip="contact">Contact</button> 
      <button mat-button routerLink="/my-geo-target" matTooltip="My ideal work locations">Geo Target</button>
      <button mat-button routerLink="/my-clients" matTooltip="My esteemed clients">Clientele</button>
      <button mat-button routerLink="/my-resumes" matTooltip="Resumes">CVs</button>
      <button mat-button routerLink="/my-family">My Family</button>
      <button mat-button routerLink="/my-projects">My Projets</button> 
      <button mat-button routerLink="/contact">Contact</button> 
    -->

    <div *ngIf="!getIsMobileResolution()" style="margin: 8px">
      <!-- <button mat-button routerLink="/" matTooltip="Go to Home page">Home</button> -->
      <button mat-button disabled="{{ router.url == '/ocrdemo' }}" routerLink="/ocrdemo" matTooltip="OCR (Optical Character Recognition) Demo">OCR</button>
      <button mat-button disabled="{{ router.url == '/designs' }}" routerLink="/designs" matTooltip="Some of my original UI/UX solutions">Designs</button>
      <button mat-button disabled="{{ router.url == '/my-apps' }}" routerLink="/my-apps" matTooltip="Apps I have placed to Microsoft Store...and other places">Apps</button>
      <button mat-button disabled="{{ router.url == '/about__' }}" routerLink="/about__" matTooltip="More about me">About</button>
      <button mat-button disabled="{{ router.url == '/contact' }}" routerLink="/contact" matTooltip="Ways to contact me">Contact</button>
    </div>
    <div *ngIf="!getIsMobileResolution()">
      <button mat-icon-button color="basic" (click)="toggleTheme()" matTooltip="Toggle dark theme"><mat-icon aria-label="Toggle dark theme">invert_colors</mat-icon></button>
    </div>

    <div *ngIf="getIsMobileResolution()">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Mobile menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled="{{ router.url == '/' }}" routerLink="/" matTooltip="Home"><mat-icon>home</mat-icon><span>Home</span></button>
        <button mat-menu-item disabled="{{ router.url == '/ocrdemo' }}" routerLink="/ocrdemo" matTooltip="OCR (Optical Character Recognition) Demo"><mat-icon>text_fields</mat-icon><span>OCR Demo</span></button>
        <button mat-menu-item disabled="{{ router.url == '/designs' }}" routerLink="/designs" matTooltip="Some of my original UI/UX solutions"><mat-icon>play_for_work</mat-icon>My UI/UX Designs</button>
        <button mat-menu-item disabled="{{ router.url == '/my-apps' }}" routerLink="/my-apps" matTooltip="Apps I have placed to Microsoft Store...and other places"><mat-icon>apps</mat-icon>My Apps in Stores</button>
        <button mat-menu-item disabled="{{ router.url == '/about__' }}" routerLink="/about__" matTooltip="More about me"><mat-icon>info</mat-icon>About</button>
        <button mat-menu-item disabled="{{ router.url == '/contact' }}" routerLink="/contact" matTooltip="Ways to contact me"><mat-icon>contact_support</mat-icon>Contact</button>
        <hr />
        <button mat-menu-item color="basic" (click)="toggleTheme()" matTooltip="Toggle dark theme"><mat-icon aria-label="Toggle dark theme">invert_colors</mat-icon>Toggle dark theme</button>
      </mat-menu>
    </div>
    <!-- <button mat-icon-button color="basic" matTooltip="POC 1"><mat-icon aria-label="POC 2">picture_as_pdf</mat-icon><mat-icon aria-label="POC 2">file_download</mat-icon></button> -->
  </div>
</mat-toolbar>
