<div class="mainRoot">
  <div class="centered-div">
    {{ countdownString }}
  </div>
  <div class="sticky-top">
    <mat-chip-listbox aria-labelledby="example-radio-group-label" [(ngModel)]="everyXMin">
      <mat-chip-option *ngFor="let playPeriodInMinutes of playPeriods" [value]="playPeriodInMinutes">
        {{playPeriodInMinutes}}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div class="sticky-btm">
    <div class="h-centered-div">
      <i>20250302.1648</i>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      Next rotation at &nbsp; <b>{{ nextHHMM }}</b>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      {{ error }}
    </div>
    <mat-progress-bar [value]="percentComplete" color="accent"></mat-progress-bar>
    <mat-progress-bar [value]="percentComplete" color="accent"></mat-progress-bar>
    <mat-progress-bar [value]="percentComplete" color="accent"></mat-progress-bar>
    <mat-progress-bar [value]="percentComplete" color="accent"></mat-progress-bar>
    <mat-progress-bar [value]="percentComplete" color="accent"></mat-progress-bar>
    <mat-progress-bar [value]="percentComplete" color="accent"></mat-progress-bar>
    <mat-progress-bar [value]="percentComplete" color="accent"></mat-progress-bar>
    <mat-progress-bar [value]="percentComplete" color="accent"></mat-progress-bar>
    <mat-progress-bar [value]="percentComplete" color="accent"></mat-progress-bar>
    <mat-progress-bar [value]="percentComplete" color="accent"></mat-progress-bar>
    <mat-progress-bar [value]="percentComplete" color="accent"></mat-progress-bar>
    <mat-progress-bar [value]="percentComplete" color="accent"></mat-progress-bar>
  </div>
  <div class="right-top-div">
    <a href="https://tabletennistimer.azurewebsites.net/">
      <h3>New Timer</h3>
    </a>
  </div>
  <div class="right-bottom-div">
    <button mat-mini-fab color="primary" (click)="Start_Arcade_Power_Up7mp3()" matTooltip="Test Audio"><mat-icon>speaker</mat-icon></button>
  </div>
</div>
