<div class="lite-shade" style="text-align:center;">
  <br />
  <h1>About …me</h1>
  <br />
</div>
<div class="dark-shade" style="padding: 8px 4%;">
  <mat-grid-list cols="12" gutterSize="32" rowHeight="500">
    <mat-grid-tile colspan="5">
      <mat-card-content> <img loading="lazy" height="400" class="flaotLeft" alt="Top Skills" src="\assets\images\TopSkills.png" /> </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile colspan="7">
      <mat-card-content>
        <h2>Top Skills</h2>
        <br />
        <h3>Technology enthusiast and passionate full stack software developer offers 20-year experience with the entire SDLC, delivering intuitive and engaging UI designs with productive and effortless UX ...</h3>
        <h3>... perfectly fitting into any Microsoft shop where Angular is not shied away from;</h3>
        <h3>... intimately familiar with the latest Microsoft dev technologies and quickly gaining momentum with the latest versions of Angular framework;</h3>
        <h3>... with a passion for making a difference with his skills, for solving real life problems with nowadays software;</h3>
        <h3><i> (ask me about: BusCatch, ToRunOr, SellingBee, EPP, GpsFit, TypeCatch, OLP, 3-Click-Invoicer).</i></h3>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="gray-shade" style="text-align: center;">
  <br />
  <h2>Links</h2>
  <div style="width: 300px; display: inline-block;">
    <div class="flex-row-even">
      <div><h3>My profile on:</h3></div>
      <div style="text-align: left;">
        <a href="https://www.linkedin.com/in/alexpigida/"><h4>LinkedIn</h4></a>
        <a href="https://stackoverflow.com/users/1779417/alex-pigida"><h4>StackOverflow</h4></a>
        <a href="https://github.com/alexpisquared/"><h4>GitHub</h4></a>
        <a href="https://alexpi.visualstudio.com"><h4>Visual Studio</h4></a>
        <a href="https://dev.azure.com/AlexPi"><h4>dev.Azure</h4></a>
        <br />
      </div>
    </div>
  </div>
  <br />
</div>
<div class="lite-shade">
  <br />
  <app-my-geo-target></app-my-geo-target>
  <br />
</div>
<div class="lite-shade" style="text-align:center;">
  <br />
  <h2>Please note</h2>
  <h3>by education I'm a physicist; I have a working knowledge of the entire universe and everything it contains.</h3>
  <div style="text-align:right; font-size: 9px; margin: 2px 6px;">Build: 19`1028</div>
</div>
<div class="dark-shade" align="center">
  ...not sure where to put a link to my Linked-In profile yet...
  <a mat-button target="_blank" rel="noopener" href="https://www.linkedin.com/in/alexpigida/" matTooltip="My profile on Linked-In">
    <img loading="lazy" height="42" alt="Alex on LinkedIn" src="\assets\images\AlexTiny_LinkedIn.png" style="margin: 3px" />
  </a>
</div>

<!-- About …me
…but enough about me, let’s find out what your needs are, whether they could be solved by digitizing them or bringing them into the software problem domain, where Moore’s Law seems to be incessantly eliminating obstacles one if statement at a time.  -->

<!-- 

todo: Please note that all these applications - including this website - are sole creations of my own and represent a full stack implementation:
-	From the original core concepts of front-end designs and workflows
-	To the enhanced logic and plumbing of the mid-tier
-	And all the way to the backend datastores – usually SQL databases normalized to the 3rd form


<mat-grid-list cols="7" rowHeight="500px">
  <mat-grid-tile> </mat-grid-tile>
  <mat-grid-tile [colspan]="5" [rowspan]="1">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="cv-header-image"></div>
        <mat-card-title>About</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><b>Founded</b> <br />1994</p>
        <p><b>Founders</b> <br />Alex & C°</p>
        <p><b>Incoroporated</b><br />1997</p>
        <p>
          <b>Headquarters</b><br />
          000 Yonge Street <br />Toronto, ON A1A1A1 <br />alex.pigida@outlook.com
        </p>
        <br />
        <b>Random fact</b><br />
        <p>
          There is a number between 0 and 100,000,000 ... <br />
          ... and, believe it or not, but it is <b> {{ result }}</b>
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="goBack()" matTooltip="Go back">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


-->
